<form #registrationForm="ngForm" (ngSubmit)="register(registrationForm)">
  <div >
    <h3 class="left_title contact__title">Contact:</h3>
    <label for="phone" class="contact_card_title">Phone:</label>
    <input
      style="display: flex; justify-content: flex-end;"
      type="tel"
      id="phone"
      name="phone"
      [(ngModel)]="phone"
      required
      pattern="^[0-9]{10,15}$"
      #phoneRef="ngModel"
    />
    <div *ngIf="phoneRef.invalid && phoneRef.touched" class="error">
      Введіть дійсний номер <br> телефону (10–15 цифр).
    </div>
  </div>

  <div>
    <label for="email" class="contact_card_title">Email:</label>
    <input
      style="display: flex; justify-content: flex-end;"
      type="email"
      id="email"
      name="email"
      [(ngModel)]="email"
      required
      pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
      #emailRef="ngModel"
    />
    <div *ngIf="emailRef.errors?.['pattern'] && emailRef.touched" class="error">
      Email має бути у форматі <br> someone&#64;example.com
    </div>
  </div>

  <div>
    <label for="address" class="contact_card_title">Address:</label>
    <input
      style="display: flex; justify-content: flex-end;"
      type="text"
      id="address"
      name="address"
      [(ngModel)]="address"
      required
      minlength="5"
      #addressRef="ngModel"
    />
    <div *ngIf="addressRef.invalid && addressRef.touched" class="error">
      Адреса обов’язкова <br> (мінімум 5 символів).
    </div>
  </div>

  <button type="submit" [disabled]="registrationForm.invalid" >
    Submit
  </button>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
</form>

