<section class="left-s">

  <div class="addres">
    <h3 class="addres__title">Address</h3>
    <p class="addres__description">SS Sterrt City/Zip Code - 456</p>
  </div>
  <div class="photo">
    <img
      class="photo_image"
      src="image/labwork07.jpg"
      alt="profile picture"
    />
  </div>
  <div class="contact">
    <h3 class="left_title contact__title">contact</h3>

    <div class="contact_card">
      <p class="contact_card_title">Phone</p>
      <a class="contact_card_text" href="tel:+000 123 456 789"
      >+000 123 456 789</a
      >
    </div>
    <div class="contact_card">
      <p class="contact_card_title">Email</p>
      <a class="contact_card_text" href="mailto: urname@gmail.com"
      >urname&commat;gmail.com</a
      >
    </div>
    <div class="contact_card">
      <p class="contact_card_title">Website</p>
      <a class="contact_card_text" href="urwebsitename.com"
      >urwebsitename.com</a
      >
    </div>
    <div *ngIf="references && references.length > 0">
      <div class="reference" *ngFor="let reference of references">
        <h3 class="left_title reference_title">Reference</h3>
        <div>
          <p class="reference_name">{{ reference.name }}</p>
          <p class="reference_description">{{ reference.title }}</p>
          <a class="reference_description" [href]="'tel:' + reference.phone">
            T : {{ reference.phone }}
          </a>
        </div>
      </div>
    </div>

    <!--  </div>-->
<!--  <div class="reference">-->
<!--    <h3 class="left_title reference_title">reference</h3>-->
<!--    <div>-->
<!--      <p class="reference_name">Sara Taylore</p>-->
<!--      <p class="reference_description">Director I Company Name</p>-->
<!--      <a class="reference_description" href="tel:+1 234 56789"-->
<!--      >T : +1 234 56789</a-->
<!--      >-->
    </div>
  <div class="hobbies">
    <h3 class="left_title hobbies_title">hobbies</h3>
    <div class="hobbies_list">
      <div class="hobbies_item">
        <img class="item_image" src="image/travel.png" alt="" />
        <p class="item_text">Travel</p>
      </div>
      <div class="hobbies_item">
        <img class="item_image" src="image/music.png" alt="" />
        <p class="item_text">Music</p>
      </div>
      <div class="hobbies_item">
        <img class="item_image" src="image/writing.png" alt="" />
        <p class="item_text">Writing</p>
      </div>
      <div class="hobbies_item">
        <img class="item_image" src="image/chess.png" alt="" />
        <p class="item_text">Chess</p>
      </div>
    </div>
  </div>
</section>
